{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estado del MCE</title>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R76FTE81SD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R76FTE81SD');
    </script>


<link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/LemonMilk/style.css' %}">

<script src="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script> 

    {% block 'header_css'%} {% endblock 'header_css'%}
    {% block 'header_js'%} {% endblock 'header_js'%}
<style>
* {
  font-family:'Lemon/Milk Bold';
}

</style>
</head>
<body>
    {% block 'body'%} {% endblock 'body'%}


    {% block 'footer_js'%} {% endblock 'footer_js'%}
</body>
</html>

