{% load static %}

<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R76FTE81SD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R76FTE81SD');
    </script>
  
  
<link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<script src="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>

</head>

<body style="background-color: crimson;">
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
      {% for obj in objects %}
      <div class="col mb-4">
      <a href="{{ obj.url }}">
        <div class="card p-3 rounded">
          <img src="{{ obj.logo.url }}" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">{% if obj.acronym %}<strong>{{ obj.acronym }}</strong> - {% endif %}{{ obj.name }}</h5>
          </div>
        </div>  
      </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>

