{% extends 'base.html' %}

    {% block 'header_css' %} 
    <style>
      body {
        background-color:#d5beab;
      }
    </style>
    {% endblock 'header_css'%}

    {% block 'body'%} 
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-5">
      {% for obj in objects %}
      <div class="col mb-4">
      <a style="text-decoration:none;" href="{{ obj.website }}">
        <div style="background-color:#343030" class="card p-3 rounded">
          <img src="{{ obj.logo.url }}" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
            <h5 style="color:#ffffff;" class="card-title">{% if obj.acronym %}<strong>{{ obj.acronym }}</strong> - {% endif %}{{ obj.name }}</h5>
          </div>
        </div>  
      </a>
      </div>
      {% endfor %}
    </div>
  </div>
    {% endblock 'body' %}

