{% extends 'base.html' %}
{% load static %}

  {% block 'header_css' %} 
  <style>
    body {
      background-color:#d5beab;
    }
  </style>
  {% endblock 'header_css'%}

{% block 'body'%} 
<div>
  <div style="height: 19vh; background-color: #bb3d3e; margin-bottom: 47px"></div>
    <div class="container-fluid text-center">
      <p style="word-break: break-word;" class="display-4 align-middle">Hay <span style="color: #ae2a2a">{{ objects.count }}</span> organizaciones comunistas en España.</p>
      <a class="mt-4 btn btn-lg text-white" style="background-color:#471619" href="{% url 'communistparty_list' %}" role="button"><span class="" style="word-break: break-word;">Mostrar lista completa</span></a>
    </div>
    
  <div style="margin: 0 auto; margin-top:50px;max-width: 100%;" class="row">
    <div class="col">
      <div class="card text-white" style="background-color:#211e1e;">
        <div class="card-body text-center">
          <img class="img-fluid" style="width: 125px" src="{% static 'svg/twitter-logo.svg' %}" type="image/svg+xml">
          <h2 class="card-title">Contacta con nosotros en <a style="text-decoration:none;" href="https://twitter.com/estadodelmce">@estadodelmce</a></h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="contact_div" class="container text-center bg-danger">
        <form id="contact" method="post">
          <div class="form-group">
              <h2>Email:</h2>
              <input type='email' class="form-control mb-4" id="contact_email" required />
              <h2>Sugerencias:</h2>
              <textarea class="form-control mb-4" id="contact_content" rows="7"></textarea>
          <input type="submit" value="Enviar">
          </div>
        </form>
      </div>
      
    </div>
  </div>



  </div>
</div>    
{% endblock 'body' %}

{% block 'footer_js' %}
<script>

document.getElementById('contact').addEventListener('submit', function(e) {
  e.preventDefault()

  fetch("{% url 'ajax_contact' %}", 
  {
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}'
    },
    method: "POST",
    body: JSON.stringify({
      'content': document.getElementById('contact_content').value,
      'email': document.getElementById('contact_email').value })})
    .then(response => {
    if (!response.ok) { throw response; }
    return response.json()
  })
  .then((data) => {
    if (!data.error) {
      document.getElementById('contact_div').style.display = 'none'
    }
  })
  .catch(error => {
    console.error("error", error)
  })
})
</script>
{% endblock 'footer_js' %}
