{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>estadodelmce</title>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R76FTE81SD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R76FTE81SD');
    </script>

    <style>
      .vertical-middle {
        position: relative;
        top: 20%;
      }
    </style>
<link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
<script src="{% static 'assets/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>  
</head>
<body>
  <div class="jumbotron-fluid text-center" style="height: 60vh">
    <div class="container vertical-middle">
          <span class="display-4 align-middle">Hay {{ objects.count }} organizaciones comunistas en España.</span>
          <div class="h6">Puedes ser tú la persona que cree la vanguardia, crea la tuya propia!</div>
	  <a class="mt-4 vertical-middle btn btn-light btn-lg border" href="{% url 'communistparty_list' %}" role="button">Mostrar lista completa</a>
	  <a class="mt-4 vertical-middle btn btn-danger border" href="https://i.redd.it/6ne2rc4e5ki41.png" role="button">Crear tu propio partido</a>
    </div>
  </div>
    <div class="container vertical-middle">
          <span class="align-middle">Si quieres participar o tienes alguna duda, sugerencia o corrección, habla con @odioindiferente en Twitter o entra a este servidor de Discord: https://discord.gg/m4UXSwvx8J</span>
    </div>
</body>
</html>

