{% load django_bootstrap5 %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>estadodelmce</title>
    <style>
      .vertical-middle {
        position: relative;
        top: 20%;
      }
    </style>
  
</head>
<body>
  <div class="jumbotron-fluid text-center" style="height: 60vh">
    <div class="container vertical-middle">
          <span class="display-4 align-middle">Hay {{ objects.count }} organizaciones comunistas en España.</span>
          <div class="h6">Puedes ser tú la persona que cree la vanguardia, crea la tuya propia!</div>
	  <a class="mt-4 vertical-middle btn btn-light btn-lg border" href="{% url 'communistparty_list' %}" role="button">Mostrar lista completa</a>
    </div>
  </div>
</body>
</html>

